# NocoDB
NOCODB_HOST=nocodb.DOMAIN.com
NOCODB_USER=postgres
NOCODB_PASSWORD=NOCODB_PASSWORD
NOCODB_DB=nocodb

# N8N
N8N_ENCRYPTION_KEY=N8N_ENCRYPTION_KEY
N8N_USER_MANAGEMENT_JWT_SECRET=N8N_USER_MANAGEMENT_JWT_SECRET
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=N8N_BASIC_AUTH_USER
N8N_BASIC_AUTH_PASSWORD=N8N_BASIC_AUTH_PASSWOR
N8N_HOST=n8n.YOURDOMAIN.com
N8N_WEBHOOK=webhook.YOURDOMAIN.com
N8N_PROTOCOL=https
N8N_PORT=5678

# POSTGRES FOR N8N
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=n8n_core

# TIMEZONE
GENERIC_TIMEZONE=Europe/Oslo

# CLOUDFLARE TUNNEL
#CLOUDFLARE_TUNNEL_TOKEN=CLOUDFLARE_TUNNEL_TOKEN

# COMPOSE PROJECT NAME
COMPOSE_PROJECT_NAME=n8n-core

# EMAIL FOR LETSENCRYPT
ACME_EMAIL=FIRST.LAST@EMAIL.com

# MINIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=MINIO_ROOT_PASSWORD
MINIO_CONSOLE_HOST=minio.YOURDOMAIN.com
MINIO_API_HOST=minio-data.YOURDOMAIN.com

# NCA TOOLKIT
NCA_API_KEY=NCA_API_KEY
NCA_S3_ACCESS_KEY=NCA_S3_ACCESS_KEY
NCA_S3_SECRET_KEY=NCA_S3_SECRET_KEY
NCA_HOST=nca.yourdomain.com

# Home IP
HOME_IP:YourHomeIP