
POSTGRES_USER=example_n8n_user
POSTGRES_PASSWORD=<POSTGRES_PASSWORD_24+_RANDOM>
POSTGRES_DB=example_n8n_db

BASEROW_HOST=baserow.example.com
BASEROW_API_TOKEN=<BASEROW_API_TOKEN>

N8N_ENCRYPTION_KEY=<N8N_ENCRYPTION_KEY_32+_RANDOM>
N8N_USER_MANAGEMENT_JWT_SECRET=<N8N_JWT_SECRET_32+_RANDOM>

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=example_admin
N8N_BASIC_AUTH_PASSWORD=<N8N_BASIC_AUTH_PASSWORD_16+_RANDOM>

N8N_HOST=n8n.example.com
N8N_WEBHOOK=webhook.example.com
N8N_PROTOCOL=https
N8N_PORT=5678

GENERIC_TIMEZONE=Europe/Oslo

CLOUDFLARE_TUNNEL_TOKEN=<CLOUDFLARE_TUNNEL_TOKEN>

COMPOSE_PROJECT_NAME=n8n-core

ACME_EMAIL=admin@example.com

MINIO_ROOT_USER=example_minio_user
MINIO_ROOT_PASSWORD=<MINIO_ROOT_PASSWORD_16+_RANDOM>
MINIO_CONSOLE_HOST=minio.example.com
MINIO_API_HOST=minio-data.example.com

NCA_API_KEY=<NCA_API_KEY>
NCA_S3_ACCESS_KEY=<NCA_S3_ACCESS_KEY_20+_RANDOM>
NCA_S3_SECRET_KEY=<NCA_S3_SECRET_KEY_40+_RANDOM>
NCA_HOST=nca.example.com

HOME_IP=203.0.113.10